<ol>
<% @tasks.each do |task| %>
  <li><a href="/tasks/<%= task.id %>"><%= task.name %></a></li>
  <ul class="edit">
    <li>Make Complete<li>
    <li>Edit<li>
    <li>Delete<li>
  </ul>
<% end %>
</ol>
