<ol>
<% @tasks.each do |task| %>
  <li class="link"><%= link_to "#{task.name}", task_path(task.id) %></li>
  <ul class="edit">
    <li>Make Complete<li>
    <li>Edit<li>
    <li>Delete<li>
  </ul><br>
<% end %>
</ol>
