body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows: 20%, 30%; 30%;
}

header {
  text-align: center;
}

ul > li {
  border: 1px solid lightgrey;
  border-radius: 15%;
  font-size: 1em;
  margin: 10px;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

main > h5 {
  text-align: center;
}
main {
  border-radius: 05%;
  border: 1px solid grey;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 30px;

}

footer {
  background-color: purple;

}
